# 행렬 문법

In [1]:
mat1<-matrix(c(1,2,3))
mat1

     [,1]
[1,] 1
[2,] 2
[3,] 3

In [5]:
# 행렬생성 , nrow만 있으면 : 열부터 입력시켜!
mat2<-matrix(c(1,2,3,4), nrow=2)
mat2

# byrow=T : 행부터 만들어!
mat3<-matrix(c(1,2,3,4), nrow=2, byrow=T)
mat3

     [,1] [,2]
[1,] 1    3
[2,] 2    4

     [,1] [,2]
[1,] 1    2
[2,] 3    4

In [8]:
# 행렬 데이터 조회
mat3[,1]
mat3[1,]
mat3[1,2]

[1] 1 3

[1] 1 2

[1] 2

In [10]:
# 행 추가해 : rbind(행렬, 새로운벡터)
mat4<-rbind(mat3,c(5,6))
mat4
# 열 추가해 : cbind(행렬, 새로운벡터)
mat5<-cbind(mat4, c(7,8,9))
mat5

     [,1] [,2]
[1,] 1    2
[2,] 3    4
[3,] 5    6

     [,1] [,2] [,3]
[1,] 1    2    7
[2,] 3    4    8
[3,] 5    6    9

In [11]:
# 행렬 칼럼 이름 지정하기  : colnames(행렬)<-칼럼이름(벡터로작성) / 변수에 재할당 안해도 됨
colnames(mat5)<-c('a','b','c')

In [12]:
mat5

     a b c
[1,] 1 2 7
[2,] 3 4 8
[3,] 5 6 9

# 배열(똑같은 타입의 데이터 N차원) 문법

In [15]:
# 배열 생성 array(벡터, dim=c(행,열,층))
array(c(1,2,3,4,5,6,7,8), dim=c(2,2,4))

, , 1

     [,1] [,2]
[1,]    1    3
[2,]    2    4

, , 2

     [,1] [,2]
[1,]    5    7
[2,]    6    8

, , 3

     [,1] [,2]
[1,]    1    3
[2,]    2    4

, , 4

     [,1] [,2]
[1,]    5    7
[2,]    6    8

# 리스트(다른 타입의 데이터 1차원) 문법

In [16]:
# 리스트 생성 -key값에는 "" 안 붙임!
list1<-list(name='jo', age=26, home='daejeon')
list1

$name
[1] "jo"

$age
[1] 26

$home
[1] "daejeon"

In [17]:
# 리스트 특정 값 조회
list1$name

[1] "jo"

In [19]:
# 리스트 요소 새로 추가
list1$univ<-'SCH'
list1$has<-c('home','school')
list1$mat<-matrix(c(1,2,3,4), nrow=2, byrow=T)
list1

$name
[1] "jo"

$age
[1] 26

$home
[1] "daejeon"

$univ
[1] "SCH"

$has
[1] "home"   "school"

$mat
     [,1] [,2]
[1,]    1    2
[2,]    3    4

In [20]:
# 리스트 요소 삭제(NULL은 공간 아예 허물어서 없애버림/ NA는 Value만 없애줌)
list1$has<-NULL
list1$mat<-NA
list1

$name
[1] "jo"

$age
[1] 26

$home
[1] "daejeon"

$univ
[1] "SCH"

$mat
[1] NA

# 데이터프레임(다른형태의 데이터 2차원) 문법, df= 모임 of vectors

In [21]:
# 벡터로 데이터프레임 생성 , fct = factor형
data.frame(name=c('jo','young','hun'))

  name
1 jo
2 young
3 hun

In [25]:
# 행렬로 데이터프레임 생성
mat1<-matrix(c(1,2,3,4),nrow=2)
df<-data.frame(mat1)
df

  X1 X2
1 1  3
2 2  4

In [27]:
# 데이터프레임 칼럼명설정
names(df)<-c('a','b')
df

  a b
1 1 3
2 2 4

In [31]:
# 원하는 데아터 조회 = 리스트 key조회랑 같음
df$a
# 원하는 데이터 조회 = 행렬 조회 [행,열] 과 같음
df[1,2]

[1] 1 2

[1] 3

In [39]:
# factor형 싫으면 stringAsFactors=False 해주면 됨
mat1<-matrix(c('바나나','치킨','원숭이','기린'),nrow=2)
df2<-data.frame(mat1, stringsAsFactors = FALSE)
names(df2)<-c('a','b')
df2

  a      b
1 바나나 원숭이
2 치킨   기린

In [37]:
# 데이터프레임에서 칼럼 값들 데이터 형태변환 -> tansform(df, 칼럼명=as.numeric(칼럼명))
df3<-transform(df, a=as.character(a))
df3

  a b
1 1 3
2 2 4

In [42]:
# 조건 추출 subset(df, 칼럼별조건)
# 데이터프레임 합치기 
rbind(df2,df3)
cbind(df2,df3)

# merge함수로 2개 df중 공통으로 있는 칼럼출력
mat4<-matrix(c(1,2,3,4), nrow=2)
df4<-data.frame(mat4, stringsAsFactors = FALSE)
mat5<-matrix(c(5,6,7,8), byrow=T)
df5<-data.frame(mat5, stringsAsFactors = FALSE)
merge(df4,df5)

  a      b
1 바나나 원숭이
2 치킨   기린
3 1      3
4 2      4

  a      b      a b
1 바나나 원숭이 1 3
2 치킨   기린   2 4

  X1 X2 mat5
1 1  3  5
2 2  4  5
3 1  3  6
4 2  4  6
5 1  3  7
6 2  4  7
7 1  3  8
8 2  4  8

In [44]:
# 일부 데이터프레임 추출
subset(df2, select=c('a'))

  a
1 바나나
2 치킨

In [46]:
# 변수명 변경 colnames()
colnames(df2)<-c('과일','동물')
df2

  과일   동물
1 바나나 원숭이
2 치킨   기린

In [50]:
# 데이터프레임에서 열 출력
df2[c(1,2)]
df2[1:2]
66
# member(,1, drop=Fasle) 로 차원 축소방지

  과일   동물
1 바나나 원숭이
2 치킨   기린

  과일   동물
1 바나나 원숭이
2 치킨   기린