In [8]:
import pymysql

In [10]:
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='watson1259@', db='enuri_ecommerce',charset='utf8')

In [11]:
db

In [12]:
cursor = db.cursor()

In [16]:
sql = '''
    CREATE TABLE enuri (
    id int not null auto_increment,
    name varchar(5) not null,
    mode_num varchar(20) not null,
    model_type varchar(30) not null,
    primary key(id)
    );
'''

cursor.execute(sql)

db.commit()
db.close()

In [31]:
import pymysql
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='watson1259@', db='enuri_ecommerce',charset='utf8')
cursor=db.cursor()

sql = '''
    insert into enuri values(1, 'i5','9400F','커피레이크 리프레시');
'''

cursor.execute(sql)
db.commit()
db.close()

In [32]:
import pymysql
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='watson1259@', db='enuri_ecommerce',charset='utf8')
cursor=db.cursor()

sql= '''
    insert into enuri(name, mode_num, model_type)
    values
    ('i7','9600KF','커피레이크 리프레시'),
    ('i5','9100F','커피레이크 리프레시'),
    ('i3','9700','커피레이크 리프레시'),
    ('i7','9700KF','커피레이크 리프레시'),
    ('i7','9700F','커피레이크 리프레시');
'''

cursor.execute(sql)
db.commit()
db.close()

In [35]:
import pymysql
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='watson1259@', db='enuri_ecommerce',charset='utf8')
cursor=db.cursor()

sql = '''
    select * from enuri where name='i7'
'''
cursor.execute(sql)
results = cursor.fetchall()
for result in results:
    print(result[2])
db.close()
# commit안하는 이유는 데이터 수정하는 것이 아니라서!!!!

9600KF
9700KF
9700F

In [36]:
import pymysql
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='watson1259@', db='enuri_ecommerce',charset='utf8')
cursor=db.cursor()

sql = '''
    delete from enuri where name='i3'
'''

cursor.execute(sql)
db.commit()
db.close()

In [3]:
import pymysql
import pandas as pd

host_name = 'localhost'
host_port = 3306
username = 'root'
passwd = 'watson1259@'
database_name = 'student_mgmt'

In [4]:
db = pymysql.connect(
    host = host_name,
    port = host_port,
    user = username,
    passwd = passwd,
    db = database_name,
    charset = 'utf8'
)