In [1]:
import pymongo

In [5]:
conn = pymongo.MongoClient()

In [10]:
people_db = conn.people_db

In [11]:
print(people_db)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'people_db')

In [13]:
print(people_db.name)

people_db

In [14]:
info = people_db.info

In [15]:
info

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'people_db'), 'info')

In [16]:
person = {'number':1, 'sex':'male', 'age':20, 'country' : 'South Korea'}

In [17]:
info.insert_one(person)

In [19]:
many_person = [
        {'number':2, 'sex':'female', 'age':30, 'country' : 'North Korea'},
        {'number':3, 'sex':'male', 'age':50, 'country' : 'China'},
        {'number':4, 'sex':'female', 'age':10, 'country' : 'Japan'},
        {'number':5, 'sex':'male', 'age':20, 'country' : 'France'},
        {'number':6, 'sex':'female', 'age':70, 'country' : 'Singapore'}
]

In [20]:
info.insert_many(many_person)

In [22]:
data = {'number':7, 'sex':'male', 'age':24, 'country':'Germany'}

In [23]:
data_id = info.insert_one(data)

In [25]:
data_id.inserted_id

ObjectId('5e7dfc1cee8b84958a2a2028')

In [27]:
info.estimated_document_count()

7

In [28]:
data = []
data.append({'number':6, 'sex':'female', 'age':70, 'country' : 'Singapore'})
data.append({'number':6, 'sex':'female', 'age':70, 'country' : 'Singapore'})
data.append({'number':6, 'sex':'female', 'age':70, 'country' : 'Singapore'})
data.append({'number':6, 'sex':'female', 'age':70, 'country' : 'Singapore'})

info.insert_many(data)

In [29]:
data = {
    'movie' : 'avengers',
    'character' :{
        'winner':{
            'ironman':'Tony Stark'
        },
        'loser':{
            'Thanos':'Thanos'
        }
    },
    'release_Date':'2019-04-30'
}

In [30]:
info.insert_one(data)

# 재실습 ( 2020 -03 -28 )

In [1]:
import pymongo

In [2]:
conn = pymongo.MongoClient()

In [3]:
mydb = conn.mydb

In [4]:
people = mydb.people

In [5]:
people

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydb'), 'people')

In [6]:
data = []
for index in range(100):
    data.append({'num': index, 'name' : 'jo_young_hun', 'age' : 26, 'city':'Daejeon'})

In [7]:
data

[{'num': 0, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 1, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 2, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 3, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 4, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 5, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 6, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 7, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 8, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 9, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 10, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 11, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 12, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 13, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 14, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 15, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 16, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 17, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 18, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 19, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 20, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 21, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 22, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 23, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 24, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 25, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 26, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 27, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 28, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 29, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 30, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 31, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 32, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 33, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 34, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 35, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 36, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 37, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 38, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 39, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 40, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 41, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 42, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 43, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 44, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 45, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 46, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 47, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 48, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 49, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 50, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 51, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 52, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 53, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 54, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 55, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 56, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 57, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 58, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 59, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 60, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 61, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 62, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 63, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 64, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 65, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 66, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 67, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 68, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 69, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 70, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 71, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 72, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 73, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 74, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 75, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 76, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 77, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 78, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 79, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 80, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 81, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 82, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 83, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 84, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 85, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 86, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 87, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 88, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 89, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 90, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 91, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 92, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 93, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 94, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 95, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 96, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 97, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 98, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'},
 {'num': 99, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}]

In [8]:
people.insert_many(data)

In [13]:
people.find_one()

{'_id': ObjectId('5e7f3ef09fa6e1d98a29e00b'),
 'num': 0,
 'name': 'jo_young_hun',
 'age': 26,
 'city': 'Daejeon'}

In [25]:
data_list = people.find()
for n in data_list:
    print(n)

{'_id': ObjectId('5e7f3ef09fa6e1d98a29e03e'), 'num': 51, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e03f'), 'num': 52, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e040'), 'num': 53, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e041'), 'num': 54, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e042'), 'num': 55, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e043'), 'num': 56, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e044'), 'num': 57, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e045'), 'num': 58, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e046'), 'num': 59, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e047'), 'num': 60, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e048'), 'num': 61, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e049'), 'num': 62, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e04a'), 'num': 63, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e04b'), 'num': 64, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e04c'), 'num': 65, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e04d'), 'num': 66, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e04e'), 'num': 67, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e04f'), 'num': 68, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e050'), 'num': 69, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e051'), 'num': 70, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e052'), 'num': 71, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e053'), 'num': 72, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e054'), 'num': 73, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e055'), 'num': 74, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e056'), 'num': 75, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e057'), 'num': 76, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e058'), 'num': 77, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e059'), 'num': 78, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e05a'), 'num': 79, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e05b'), 'num': 80, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e05c'), 'num': 81, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e05d'), 'num': 82, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e05e'), 'num': 83, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e05f'), 'num': 84, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e060'), 'num': 85, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e061'), 'num': 86, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e062'), 'num': 87, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e063'), 'num': 88, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e064'), 'num': 89, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e065'), 'num': 90, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e066'), 'num': 91, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e067'), 'num': 92, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e068'), 'num': 93, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e069'), 'num': 94, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e06a'), 'num': 95, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e06b'), 'num': 96, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e06c'), 'num': 97, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e06d'), 'num': 98, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}
{'_id': ObjectId('5e7f3ef09fa6e1d98a29e06e'), 'num': 99, 'name': 'jo_young_hun', 'age': 26, 'city': 'Daejeon'}

In [19]:
people.update_many({'num':0}, {'$set' : { 'age' : 10}})

In [20]:
people.find_one()

{'_id': ObjectId('5e7f3ef09fa6e1d98a29e00b'),
 'num': 0,
 'name': 'jo_young_hun',
 'age': 10,
 'city': 'Daejeon'}

In [22]:
people.delete_one({'age':10})

In [24]:
people.delete_many({'num' : {'$lte' : 50}})