In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("C:/Users/joyh1/Desktop/Private_study_project/Crawling/Musinsa_crawl_using_Bs4/bestseller.csv")
data.head()

   순위       브랜드                                제품명        가격
0  1위      브랜디드  1931 OBJECT JEANS [CROP STRAIGHT]   59,000원
1  2위  무신사 스탠다드                      베이식 블레이저 [블랙]   69,900원
2  3위      아디다스         BW 독일군 스니커즈 - 화이트 / BZ0579  129,900원
3  4위  무신사 스탠다드             테이퍼드 히든 밴딩 크롭 슬랙스 [블랙]   31,900원
4  5위        쿠어             20SS 탑필 울 라운드 니트 (웜샌드)   69,300원