<font size="+2" color="brown"><i><b><center>"With hard work, you can get fire out of a stone."</center></b></i></font>

<font size="+3" color=purple ><b> <center><u>Text Helper Functions</u></center></b></font>

**Version 4**  :  First Run <br>
**Version 6**  :  Added 9 new regex function required for text processing.<br>
**Version 7**  :  Added few functions and modified scripts.<br>
**Version 8**  :  Updated kernel with few more functions and modified scripts.<br>
**Version 9**  :  Modified script <br>
**Version 10** :  Added description and modified script in 4.13 <br>
**Version 11** :  Added few more helpers<br>
**Version 12** :  Few modifications and added few more helpers<br>
**Version 13** :  Added two more functions.<br>
**Version 14** :  Small modification<br>
**Version 15** :  Added more function<br>
**Version 16** :  Added tag function<br>
**Version 17** :  Fixed bug from V16<br>
**Version 18** :  Added two more functions- ip and mac address<br>
**Version 19** :  Added subword and latitude & longitude<br>
**Version 20** :  Added PAN validation <br>
**Version 21** :  Added Phone Number Country code<br>
**Version 22** :  Added Positive and Negative look ahead<br>
**Version 23** :  Added Positive and Negative look behind<br>
**Version 24** :  Bug fix from V23<br>
**Version 25** :  Added Domain<br>
**Version 26** :  Added Percentage<br>
**Version 27** :  (Current) Added File Format<br>
**Version 28** :  *Loading...*

<a id='top'></a>
<div class="list-group" id="list-tab" role="tablist">
<h3 class="list-group-item list-group-item-action active" data-toggle="list"  role="tab" aria-controls="home">Table of content</h3>

* [1. Objective](#1)   
* [2. Data](#2)
* [3. Basic Data Explorers](#3)
    - [3.1 Missing values](#3.1)
    - [3.2 Count values](#3.2)
    - [3.3 Unique values](#3.3)
    - [3.4 Duplicate values](#3.4)
    - [3.5 Stat](#3.5)
* [4. Regex Helpers](#4)
    - [4.1 URL](#4.1)
    - [4.2 Emoticons](#4.2)
    - [4.3 Email](#4.3)
    - [4.4 Hash](#4.4)
    - [4.5 Mention](#4.5)
    - [4.6 Number](#4.6)
    - [4.7 Phone Number](#4.7)
    - [4.8 Year](#4.8)
    - [4.9 Non Alphanumeric](#4.9)
    - [4.10 Punctuations](#4.10)
    - [4.11 Stopwords](#4.11)
    - [4.12 N-grams](#4.12)
    - [4.13 Repetitive Character](#4.13)
    - [4.14 Dollar](#4.14)
    - [4.15 Number-Greater](#4.15)
    - [4.16 Number- Lesser](#4.16)
    - [4.17 OR](#4.17)
    - [4.18 AND](#4.18)
    - [4.19 Dates](#4.19)
    - [4.20 Only Words](#4.20)
    - [4.21 Only Numbers](#4.21)
    - [4.22 Boundaries](#4.22)
    - [4.23 Search](#4.23)
    - [4.24 Pick Sentence](#4.24)
    - [4.25 Duplicate Sentence](#4.25)
    - [4.26 Caps Words](#4.26)
    - [4.27 Length of Words](#4.27)
    - [4.28 Length of Characters](#4.28)
    - [4.29 Get ID](#4.29)
    - [4.30 Specific String Rows](#4.30)
    - [4.31 Hex code to Color](#4.31)
    - [4.32 Tags](#4.32)
    - [4.33 IP Address](#4.33)
    - [4.34 Mac Address](#4.34)
    - [4.35 Subword](#4.35)
    - [4.36 Latitude & Longitude](#4.36)
    - [4.37 PAN](#4.37)
    - [4.38 Phone Number Country Code](#4.38)
    - [4.39 Positive Look Ahead](#4.39)
    - [4.40 Negative Look Ahead](#4.40)
    - [4.41 Positive Look Behind](#4.41)
    - [4.42 Negative Look Behind](#4.42)
    - [4.43 Domain](#4.43)
    - [4.44 Percentage](#4.44)
    - [4.45 File Format](#4.45)
* [5. End Notes](#5)

<font size="+3" color="blue"><b>1. Objective</b></font><br><a id="1"></a>

The aim of this kernel is to provide helper function for basic text processing.This functions can aid you to understand the data much better and perform EDA.
My major focus will be on apply regex on text but still i have mentioned few basic starter codes on the 3rd part of kernel.Rest all sections will deal with text preprocessing.The whole kernel can be useful for everyone especially **beginners**.

<font size="+1"><i>Readers,I am making you lazy to code but at same time I am helping you out.Do utilize this kernel for any of your text oriented competitions.</i></font><br><br>
    
<font size="+1" color=chocolate ><b>Please appreciate me through your Upvote.</b></font>

<font size="+3" color="blue"><b>2. Data</b></font><br><a id="2"></a>

I will be using data from [Twitter Sentiment Analysis](https://www.kaggle.com/c/tweet-sentiment-extraction/data) competiton

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import re
import emoji

#Count vectorizer for N grams
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

# Nltk for tekenize and stopwords
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 

#Loading data
df=pd.read_csv('../input/tweet-sentiment-extraction/train.csv')
df.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

<font size="+3" color="blue"><b>3. Basic Data Explorers</b></font><br> <a id="3"></a>

<font size="+2" color="indigo"><b>3.1 Missing values</b></font><br><a id="3.1"></a>

In [2]:
def missing_value_of_data(data):
    total=data.isnull().sum().sort_values(ascending=False)
    percentage=round(total/data.shape[0]*100,2)
    return pd.concat([total,percentage],axis=1,keys=['Total','Percentage'])

In [3]:
missing_value_of_data(df)
#  Reason for 0 percentage value = Round of 1 divided by 27481 will be 0

               Total  Percentage
selected_text      1         0.0
text               1         0.0
sentiment          0         0.0
textID             0         0.0

We will drop NA values

In [4]:
df=df.dropna()

<font size="+2" color="indigo"><b>3.2 Count Values</b></font><br><a id="3.2"></a>

In [5]:
def count_values_in_column(data,feature):
    total=data.loc[:,feature].value_counts(dropna=False)
    percentage=round(data.loc[:,feature].value_counts(dropna=False,normalize=True)*100,2)
    return pd.concat([total,percentage],axis=1,keys=['Total','Percentage'])

In [6]:
count_values_in_column(df,'sentiment')

          Total  Percentage
neutral   11117       40.45
positive   8582       31.23
negative   7781       28.32

<font size="+2" color="indigo"><b>3.3 Unique Values</b></font><br><a id="3.3"></a>

In [7]:
def unique_values_in_column(data,feature):
    unique_val=pd.Series(data.loc[:,feature].unique())
    return pd.concat([unique_val],axis=1,keys=['Unique Values'])

In [8]:
unique_values_in_column(df,'sentiment')

  Unique Values
0       neutral
1      negative
2      positive

<font size="+2" color="indigo"><b>3.4 Duplicate Values</b></font><br><a id="3.4"></a>

In [9]:
    
def duplicated_values_data(data):
    dup=[]
    columns=data.columns
    for i in data.columns:
        dup.append(sum(data[i].duplicated()))
    return pd.concat([pd.Series(columns),pd.Series(dup)],axis=1,keys=['Columns','Duplicate count'])

In [10]:
duplicated_values_data(df)

         Columns  Duplicate count
0         textID                0
1           text                0
2  selected_text             5017
3      sentiment            27477

<font size="+2" color="indigo"><b>3.5 Stat</b></font><br><a id="3.5"></a>

In [11]:
df.describe()

,textID,text,selected_text,sentiment
count,27480,27480,27480,27480
unique,27480,27480,22463,3
top,c5aa5c0980,"When youre kawawa, you make me kawawa cuz i ha...",good,neutral
freq,1,1,199,11117

Since these kind of basic python functions are pretty much well known to all python users.We dont need much focus here.Still I will elaborate this section in upcoming versions.

<font size="+3" color="blue"><b>4. Regex Helpers</b></font><br> 
<a id="4"></a>

Major RE functions

* **re.findall**   - Module is used to search for “all” occurrences that match a given pattern.
* **re.sub**       - Substitute the matched RE patter with given text
* **re.match**     - The match function is used to match the RE pattern to string with optional flags
* **re.search**    - This method takes a regular expression pattern and a string and searches for that pattern with the string.


We will be mostly using re.findall to detect patterns.

<font size="+2" color="indigo"><b>4.1 URL</b></font><br><a id="4.1"></a>

In [12]:
def find_url(string): 
    text = re.findall('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',string)
    return "".join(text) # converting return value from list to string

In [13]:
sentence="I love spending time at https://www.kaggle.com/"
find_url(sentence)

'https://www.kaggle.com/'

In [14]:
df['url']=df['text'].apply(lambda x:find_url(x))

<font size="+2" color="indigo"><b>4.2 Emoticons</b></font><br><a id="4.2"></a>

### Find and convert emoji to text

In [15]:
def find_emoji(text):
    emo_text=emoji.demojize(text)
    line=re.findall(r'\:(.*?)\:',emo_text)
    return line

In [16]:
sentence="I love ⚽ very much 😁"
find_emoji(sentence)

# Emoji cheat sheet - https://www.webfx.com/tools/emoji-cheat-sheet/
# Uniceode for all emoji : https://unicode.org/emoji/charts/full-emoji-list.html

['soccer_ball', 'beaming_face_with_smiling_eyes']

In [17]:
df['emoji']=df['text'].apply(lambda x: find_emoji(x))

### Remove Emoji from text

In [18]:
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [19]:
sentence="Its all about \U0001F600 face"
print(sentence)
remove_emoji(sentence)

Its all about 😀 face

'Its all about  face'

In [20]:
df['text']=df['text'].apply(lambda x: remove_emoji(x))

<font size="+2" color="indigo"><b>4.3 Email</b></font><br><a id="4.3"></a>

Extract email from text

In [21]:
def find_email(text):
    line = re.findall(r'[\w\.-]+@[\w\.-]+',str(text))
    return ",".join(line)

In [22]:
sentence="My gmail is abc99@gmail.com"
find_email(sentence)

'abc99@gmail.com'

In [23]:
df['email']=df['text'].apply(lambda x: find_email(x))

<font size="+2" color="indigo"><b>4.4 Hash</b></font><br><a id="4.4"></a>

This value is especially to denote trends in twitter.

In [24]:
def find_hash(text):
    line=re.findall(r'(?<=#)\w+',text)
    return " ".join(line)

In [25]:
sentence="#Corona is trending now in the world" 
find_hash(sentence)

'Corona'

In [26]:
df['hash']=df['text'].apply(lambda x: find_hash(x))

<font size="+2" color="indigo"><b>4.5 Mention</b></font><br><a id="4.5"></a>

@ - Used to mention someone in tweets

In [27]:
def find_at(text):
    line=re.findall(r'(?<=@)\w+',text)
    return " ".join(line)

In [28]:
sentence="@David,can you help me out"
find_at(sentence)

'David'

In [29]:
df['at_mention']=df['text'].apply(lambda x: find_at(x))

<font size="+2" color="indigo"><b>4.6 Number</b></font><br><a id="4.6"></a>

Pick only number from sentence

In [30]:
def find_number(text):
    line=re.findall(r'[0-9]+',text)
    return " ".join(line)

In [31]:
sentence="2833047 people are affected by corona now"
find_number(sentence)

'2833047'

In [32]:
df['number']=df['text'].apply(lambda x: find_number(x))

<font size="+2" color="indigo"><b>4.7 Phone Number</b></font><br><a id="4.7"></a>

Indian Mobile numbers have ten digit.I will write that pattern below

In [33]:
def find_phone_number(text):
    line=re.findall(r"\b\d{10}\b",text)
    return "".join(line)

In [34]:
find_phone_number("9998887776 is a phone number of Mark from 210,North Avenue")

'9998887776'

In [35]:
df['phone_number']=df['text'].apply(lambda x: find_phone_number(x))

<font size="+2" color="indigo"><b>4.8 Year</b></font><br><a id="4.8"></a>

Extract year from 1940 till 2020

In [36]:
def find_year(text):
    line=re.findall(r"\b(19[40][0-9]|20[0-1][0-9]|2020)\b",text)
    return line

In [37]:
sentence="India got independence on 1947."
find_year(sentence)

['1947']

In [38]:
df['year']=df['text'].apply(lambda x: find_year(x))

<font size="+2" color="indigo"><b>4.9 Non Alphanumeric</b></font><br><a id="4.9"></a>

In [39]:
def find_nonalp(text):
    line = re.findall("[^A-Za-z0-9 ]",text)
    return line

In [40]:
sentence="Twitter has lots of @ and # in posts.(general tweet)"
find_nonalp(sentence)

['@', '#', '.', '(', ')']

In [41]:
df['non_alp']=df['text'].apply(lambda x: find_nonalp(x))

<font size="+2" color="indigo"><b>4.10 Punctuations</b></font><br><a id="4.10"></a>

Retrieve punctuations from sentence.

In [42]:
def find_punct(text):
    line = re.findall(r'[!"\$%&\'()*+,\-.\/:;=#@?\[\\\]^_`{|}~]*', text)
    string="".join(line)
    return list(string)

In [43]:
example="Corona virus have kiled #24506 confirmed cases now.#Corona is un(tolerable)"
print(find_punct(example))

['#', '.', '#', '(', ')']

In [44]:
df['punctuation']=df['text'].apply(lambda x : find_punct(x))

<font size="+2" color="indigo"><b>4.11 Stopwords</b></font><br><a id="4.11"></a>

In [45]:
def stop_word_fn(text):
    stop_words = set(stopwords.words('english')) 
    word_tokens = word_tokenize(text) 
    non_stop_words = [w for w in word_tokens if not w in stop_words] 
    stop_words= [w for w in word_tokens if w in stop_words] 
    return stop_words

In [46]:
example_sent = "This is a sample sentence, showing off the stop words filtration."
stop_word_fn(example_sent)

['is', 'a', 'off', 'the']

In [47]:
df['stop_words']=df['text'].apply(lambda x : stop_word_fn(x))

<font size="+2" color="indigo"><b>4.12 N-grams</b></font><br><a id="4.12"></a>

In [48]:
def ngrams_top(corpus,ngram_range,n=None):
    """
    List the top n words in a vocabulary according to occurrence in a text corpus.
    """
    vec = CountVectorizer(stop_words = 'english',ngram_range=ngram_range).fit(corpus)
    bag_of_words = vec.transform(corpus)
    sum_words = bag_of_words.sum(axis=0) 
    words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
    words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
    total_list=words_freq[:n]
    df=pd.DataFrame(total_list,columns=['text','count'])
    return df

In [49]:
ngrams_top(df['text'],(1,1),n=10)

    text  count
0   just   2278
1    day   2115
2   good   1578
3   like   1353
4   http   1247
5   work   1150
6  today   1147
7   love   1145
8  going   1103
9    got   1085

In [50]:
ngrams_top(df['text'],(2,2),n=10)

            text  count
0     mother day    358
1    twitpic com    334
2   http twitpic    332
3    mothers day    279
4   happy mother    275
5       just got    219
6  happy mothers    199
7       http bit    180
8         bit ly    180
9   good morning    176

In [51]:
ngrams_top(df['text'],(3,3),n=10)

                text  count
0   http twitpic com    332
1   happy mother day    268
2  happy mothers day    195
3        http bit ly    180
4   http tinyurl com    166
5     http plurk com    109
6      star wars day     73
7       http blip fm     73
8    happy star wars     56
9      just got home     53

<font size="+2" color="indigo"><b>4.13 Repetitive Character</b></font><br><a id="4.13"></a>

If you want to change match repetitive characters to n numbers,**chage the return line in the *rep function* to grp[0:n]**.

In [52]:
def rep(text):
    grp = text.group(0)
    if len(grp) > 1:
        return grp[0:1] # can change the value here on repetition
def unique_char(rep,sentence):
    convert = re.sub(r'(\w)\1+', rep, sentence) 
    return convert

In [53]:
sentence="heyyy this is loong textttt sooon"
unique_char(rep,sentence)

'hey this is long text son'

In [54]:
df['unique_char']=df['text'].apply(lambda x : unique_char(rep,x))

<font size="+2" color="indigo"><b>4.14 Dollar</b></font><br><a id="4.14"></a>

In [55]:
def find_dollar(text):
    line=re.findall(r'\$\dp+(?:\.\d+)?',text)
    return " ".join(line)

# \$ - dollar sign followed by
# \d+ one or more digits
# (?:\.\d+)? - decimal which is optional

In [56]:
sentence="this shirt costs $20.56"
find_dollar(sentence)

''

In [57]:
df['dollar']=df['text'].apply(lambda x : find_dollar(x))

<font size="+2" color="indigo"><b>4.15 Number-Greater</b></font><br><a id="4.15"></a>

In [58]:
#Number greater than 930
def num_great(text): 
    line=re.findall(r'9[3-9][0-9]|[1-9]\d{3,}',text)
    return " ".join(line)

In [59]:
sentence="It is expected to be more than 935 corona death and 29974 observation cases across 29 states in india"
num_great(sentence)

'935 29974'

In [60]:
#Number greater than 930 (Just part of example)
df['num_great']=df['text'].apply(lambda x : num_great(x))

<font size="+2" color="indigo"><b>4.16 Number Lesser</b></font><br><a id="4.16"></a>

In [61]:
# Number less than 930
def num_less(text):
    only_num=[]
    for i in text.split():
        line=re.findall(r'^(9[0-2][0-0]|[1-8][0-9][0-9]|[1-9][0-9]|[0-9])$',i) # 5 500
        only_num.append(line)
        all_num=[",".join(x) for x in only_num if x != []]
    return " ".join(all_num)

In [62]:
sentence="There are some countries where less than 920 cases exist with 1100 observations"
num_less(sentence)

'920'

In [63]:
#Number greater than 930 (Just part of example)
df['num_less']=df['text'].apply(lambda x : num_less(x))

<font size="+2" color="indigo"><b>4.17 OR</b></font><br><a id="4.17"></a>

In [64]:
def or_cond(text,key1,key2):
    line=re.findall(r"{}|{}".format(key1,key2), text) 
    return " ".join(line)

In [65]:
sentence="sad and sorrow displays emotions"
or_cond(sentence,'sad','sorrow')

'sad sorrow'

In [66]:
# Looks for sorrow or sad word
df['sad_or_sorrow']=df['text'].apply(lambda x : or_cond(x,'sad','sorrow'))

<font size="+2" color="indigo"><b>4.18 AND</b></font><br><a id="4.18"></a>

In [67]:
def and_cond(text):
    line=re.findall(r'(?=.*do)(?=.*die).*', text) 
    return " ".join(line)

In [68]:
print("Both string present:",and_cond("do or die is a motivating phrase"))
print("Only one string present :",and_cond('die word is other side of emotion'))

Both string present: do or die is a motivating phrase
Only one string present :

In [69]:
# Looks for do and die both else empty
df['do_and_die']=df['text'].apply(lambda x : and_cond(x))

<font size="+2" color="indigo"><b>4.19 Dates</b></font><br><a id="4.19"></a>

In [70]:
# mm-dd-yyyy format 
def find_dates(text):
    line=re.findall(r'\b(1[0-2]|0[1-9])/(3[01]|[12][0-9]|0[1-9])/([0-9]{4})\b',text)
    return line

In [71]:
sentence="Todays date is 04/28/2020 for format mm/dd/yyyy, not 28/04/2020"
find_dates(sentence)

[('04', '28', '2020')]

In [72]:
df['dates']=df['text'].apply(lambda x : find_dates(x))

<font size="+2" color="indigo"><b>4.20 Only Words</b></font><br><a id="4.20"></a>

In [73]:
def only_words(text):
    line=re.findall(r'\b[^\d\W]+\b', text)
    return " ".join(line)

In [74]:
sentence="the world population has grown from 1650 million to 6000 million"
only_words(sentence)

'the world population has grown from million to million'

In [75]:
df['only_words']=df['text'].apply(lambda x : only_words(x))

<a id="4.21"></a>
<font size="+2" color="indigo"><b>4.21 Only Numbers</b></font>

In [76]:
def only_numbers(text):
    line=re.findall(r'\b\d+\b', text)
    return " ".join(line)

In [77]:
sentence="the world population has grown from 1650 million to 6000 million"
only_numbers(sentence)

'1650 6000'

In [78]:
df['only_num']=df['text'].apply(lambda x : only_numbers(x))

<a id="4.22"></a>
<font size="+2" color="indigo"><b>4.22 Boundaries</b></font><br><br>
Picking up the words with boundaries

In [79]:
# Extracting word with boundary
def boundary(text):
    line=re.findall(r'\bneutral\b', text)
    return " ".join(line)

In [80]:
sentence="Most tweets are neutral in twitter"
boundary(sentence)

'neutral'

In [81]:
df['bound']=df['text'].apply(lambda x : boundary(x))

<a id="4.23"></a>
<font size="+2" color="indigo"><b>4.23 Search</b></font><br><br>
Is the key word present in the sentence?

In [82]:
def search_string(text,key):
    return bool(re.search(r''+key+'', text))

In [83]:
sentence="Happy Mothers day to all Moms"
search_string(sentence,'day')

True

In [84]:
df['search_day']=df['text'].apply(lambda x : search_string(x,'day'))

<a id="4.24"></a>
<font size="+2" color="indigo"><b>4.24 Pick Sentence</b></font><br><br>
If we want to get all sentence with particular keyword.We can use below function

In [85]:
def pick_only_key_sentence(text,keyword):
    line=re.findall(r'([^.]*'+keyword+'[^.]*)', text)
    return line

In [86]:
sentence="People are fighting with covid these days.Economy has fallen down.How will we survice covid"
pick_only_key_sentence(sentence,'covid')

['People are fighting with covid these days', 'How will we survice covid']

In [87]:
df['pick_senence']=df['text'].apply(lambda x : pick_only_key_sentence(x,'covid'))

<a id="4.25"></a>
<font size="+2" color="indigo"><b>4.25 Duplicate Sentence</b></font><br><br>
Most webscrapped data contains duplicated sentence.This function could retrieve unique ones.

In [88]:
def pick_unique_sentence(text):
    line=re.findall(r'(?sm)(^[^\r\n]+$)(?!.*^\1$)', text)
    return line

In [89]:
sentence="I thank doctors\nDoctors are working very hard in this pandemic situation\nI thank doctors"
pick_unique_sentence(sentence)

['Doctors are working very hard in this pandemic situation', 'I thank doctors']

In [90]:
df['pick_unique']=df['text'].apply(lambda x : pick_unique_sentence(x))

<a id="4.26"></a>
<font size="+2" color="indigo"><b>4.26 Caps Words</b></font><br><br>
Extract words starting with capital letter.Some words like names,place or universal object are usually mentioned in a text starting with CAPS.

In [91]:
def find_capital(text):
    line=re.findall(r'\b[A-Z]\w+', text)
    return line

In [92]:
sentence="World is affected by corona crisis.No one other than God can save us from it"
find_capital(sentence)

['World', 'No', 'God']

In [93]:
df['caps_word']=df['text'].apply(lambda x : find_capital(x))

<a id="4.27"></a>
<font size="+2" color="indigo"><b>4.27 Length of words</b></font><br><br>
No regex but added one liner to identify length of words in a sentence

In [94]:
df['text_length']=df['text'].str.split().map(lambda x: len(x))
df[['text','text_length']].sample(3)

                                                   text  text_length
2977  hoping i didn`t fail english. that would just ...           10
464   cooking with my dad  having lots of fun in the...           12
2254  Feeling good about our win! Its nice being sof...           14

<a id="4.28"></a>
<font size="+2" color="indigo"><b>4.28 Length of characters</b></font><br><br>
No regex but added one liner to identify length of characters in a sentence including space

In [95]:
df['char_length']=df['text'].str.len()
df[['text','char_length']].sample(3)

                                                    text  char_length
23144                  oh no! Poor thing keep us posted.           34
3381                          hold on to what you`ve got           26
12731  _sb I swear mine was evil  it was green and ev...           58

<a id="4.29"></a>
<font size="+2" color="indigo"><b>4.29 Get ID</b></font><br><br>
Most data has IDs in it with some prefix.So if we want to pick only numbers in ID leaving the prefix out,we can apply below function.

In [96]:
def find_id(text):
    line=re.findall(r'\bIND(\d+)', text)
    return line

In [97]:
sentence="My company id is IND50120.And I work under Asia region"
find_id(sentence)

['50120']

In [98]:
df['get_id']=df['text'].apply(lambda x : find_id(x))

<a id="4.30"></a>
<font size="+2" color="indigo"><b>4.30 Specific String Rows</b></font><br><br>
Quering for specific string can also be done by directly applying *"str.contains("XXXX")"* to a series/column of a dataframe

In [99]:
my_string_rows = df[df['text'].str.contains("good")]
my_string_rows[['text']].sample(3)

                                                    text
10835  mint choc ice cream whilst studying.....now th...
2228       ooh good then  Thank you for the heads up bro
3358    Listening to Metal Shop at Mooneys!! All is good

<a id="4.31"></a>
<font size="+2" color="indigo"><b>4.31 Hex code to Color</b></font><br><br>
Converting hex color codes to color names.We will install and import webcolors. (only for CSS3 colors)

In [100]:
!pip install webcolors
import webcolors

Collecting webcolors
  Downloading webcolors-1.11.1-py3-none-any.whl (9.9 kB)
Installing collected packages: webcolors
Successfully installed webcolors-1.11.1

In [101]:
def find_color(string): 
    text = re.findall('\#(?:[0-9a-fA-F]{3}){1,2}',string)
    conv_name=[]
    for i in text:
        conv_name.append(webcolors.hex_to_name(i))
    return conv_name

In [102]:
sentence="Find the color of #00FF00 and #FF4500"
find_color(sentence)

['lime', 'orangered']

Try more hex codes:https://www.rapidtables.com/web/css/css-color.html

<a id="4.32"></a>
<font size="+2" color="indigo"><b>4.32 Tags</b></font><br><br>
Most of web scrapped data contains html tags.It can be removed from below re script

In [103]:
def remove_tag(string):
    text=re.sub('<.*?>','',string)
    return text

In [104]:
sentence="Markdown sentences can use <br> for breaks and <i></i> for italics"
remove_tag(sentence)

'Markdown sentences can use  for breaks and  for italics'

<a id="4.33"></a>
<font size="+2" color="indigo"><b>4.33 IP Address</b></font><br><br>
Extract IP address from text.

In [105]:
def ip_add(string):
    text=re.findall('\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}',string)
    return text

In [106]:
sentence="An example of ip address is 125.16.100.1"
ip_add(sentence)

['125.16.100.1']

<a id="4.34"></a>
<font size="+2" color="indigo"><b>4.34 Mac Address</b></font><br><br>
Extract Mac address from text.

In [107]:
def mac_add(string):
    text=re.findall('(?:[0-9a-fA-F]:?){12}',string)
    return text
#https://stackoverflow.com/questions/26891833/python-regex-extract-mac-addresses-from-string/26892371

In [108]:
sentence="MAC ADDRESSES of this laptop - 00:24:17:b1:cc:cc .Other details will be mentioned"
mac_add(sentence)

['00:24:17:b1:cc:cc']

<a id="4.35"></a>
<font size="+2" color="indigo"><b>4.35 Subword</b></font><br><br>
Extract number of subwords from sentences and words.

In [109]:
def subword(string,sub): 
    text=re.findall(sub,string)
    return len(text)

In [110]:
sentence = 'Fundamentalism and constructivism are important skills'
subword(sentence,'ism') # change subword and try for others

2

<a id="4.36"></a>
<font size="+2" color="indigo"><b>4.36 Latitude & Longitude</b></font><br><br>
Extract number of subwords from sentences and words.

In [111]:
def lat_lon(string):
    text=re.findall(r'^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?),\s*[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$',string)
    if text!=[]:
        print("[{}] is valid latitude & longitude".format(string))
    else:
        print("[{}] is not a valid latitude & longitude".format(string))

In [112]:
lat_lon('28.6466772,76.8130649')
lat_lon('2324.3244,3423.432423')

[28.6466772,76.8130649] is valid latitude & longitude
[2324.3244,3423.432423] is not a valid latitude & longitude

<a id="4.37"></a>
<font size="+2" color="indigo"><b>4.37 PAN</b></font><br><br>

PAN Validation:

[First 5 letters in CAPS+4 didgits+Last letter in CAPS]

In [113]:
def valid_pan(string):
    text=re.findall(r'^([A-Z]){5}([0-9]){4}([A-Z]){1}$',string)
    if text!=[]:
        print("{} is valid PAN number".format(string))
    else:
        print("{} is not a valid PAN number".format(string))

In [114]:
valid_pan("ABCSD0123K")
valid_pan("LEcGD012eg")

ABCSD0123K is valid PAN number
LEcGD012eg is not a valid PAN number

<a id="4.38"></a>
<font size="+2" color="indigo"><b>4.38 Phone number Code</b></font><br><br>
**Format**: [Country code]-[Local Area Code]-[Number]

In [115]:
def valid_phone_code(string):
    text=re.findall(r'^([0-9]){2}(-)([0-9]){2}(-)(\d+)$',string)
    if text!=[]:
        print("{} is valid Indian Phone number wth country code".format(string))
    else:
        print("{} is not a valid Indian Phone number wth country code".format(string))

In [116]:
valid_phone_code('91-44-23413627')
valid_phone_code('291-4456-23413627')

91-44-23413627 is valid Indian Phone number wth country code
291-4456-23413627 is not a valid Indian Phone number wth country code

<a id="4.39"></a>
<font size="+2" color="indigo"><b>4.39 Positive Look Ahead</b></font><br><br>
Positive look ahead will succeed if passed non-consuming expression **does match** against the forthcoming input.<br>
The syntax is <code>A(?=B)</code> where <code>A</code> is actual expression and <code>B</code> is non-consuming expression.

Scripts utlized from [here](https://github.com/nikhilkumarsingh/RegEx-In-Python/blob/master/16.%20Look%20ahead.ipynb)

In [117]:
def pos_look_ahead(string,A,B):
    pattern = re.compile(''+A+'(?=\s'+B+')')
    match = pattern.search(string)
    print("position:{} Matched word:{}".format(match.span(),match.group()))

In [118]:
pos_look_ahead("I love kaggle. I love DL","love","DL")

position:(17, 21) Matched word:love

<a id="4.40"></a>
<font size="+2" color="indigo"><b>4.40 Negative Look Ahead</b></font><br><br>
Negative look ahead will succeed if passed non-consuming expression **does not match** against the forthcoming input.<br>
The syntax is <code>A(?!B)</code> where <code>A</code> is actual expression and <code>B</code> is non-consuming expression.

In [119]:
def neg_look_ahead(string,A,B):
    pattern = re.compile(''+A+'(?!\s'+B+')')
    match = pattern.search(string)
    print("position:{} Matched word:{}".format(match.span(),match.group()))

In [120]:
neg_look_ahead("I love kaggle. I love DL","love","DL")

position:(2, 6) Matched word:love

<a id="4.41"></a>
<font size="+2" color="indigo"><b>4.41 Positive Look Behind</b></font><br><br>
Positive look behind will succeed if passed non-consuming expression **does match** against the forthcoming input.<br>
The syntax is <code>A(?<=B)</code> where <code>A</code> is actual expression and <code>B</code> is non-consuming expression.
    
Scripts utilized from [here](https://github.com/nikhilkumarsingh/RegEx-In-Python/blob/master/17.%20Look%20behind.ipynb)

In [121]:
def pos_look_behind(string,A,B):
    pattern = re.compile("(?<="+A+"\s)"+B+"")
    match = pattern.search(string)
    print("position:{} Matched word: {}".format(match.span(),match.group()))

In [122]:
pos_look_behind("i love nlp.everyone likes nlp","love","nlp")
# the word "nlp" that do come after "love"

position:(7, 10) Matched word: nlp

<a id="4.42"></a>
<font size="+2" color="indigo"><b>4.42 Negative Look Behind</b></font><br><br>
Positive look behind will succeed if passed non-consuming expression **does not match** against the forthcoming input.<br>
The syntax is "A(?<!=B)" where "A"is actual expression and "B" is non-consuming expression.

In [123]:
def neg_look_behind(string,A,B):
    pattern = re.compile("(?<!"+A+"\s)"+B+"")
    match = pattern.search(string)
    print("position:{} Matched word: {}".format(match.span(),match.group()))

In [124]:
neg_look_behind("i love nlp.everyone likes nlp","love","nlp")
# the word "nlp" that doesnt come after "love"

position:(26, 29) Matched word: nlp

<a id="4.43"></a>
<font size="+2" color="indigo"><b>4.43 Domain</b></font><br><br>

In [125]:
def find_domain(string): 
    text = re.findall(r'\b(\w+[.]\w+)',string)
    return text

In [126]:
sentence="WHO provides valid information about covid in their site who.int . UNICEF supports disadvantageous childrens. know more in unicef.org"
find_domain(sentence)

['who.int', 'unicef.org']

<a id="4.44"></a>
<font size="+2" color="indigo"><b>4.44 Percentage</b></font><br><br>

In [127]:
def find_percent(string): 
    text = re.findall(r'\b(100|[1-9][0-9]|[0-9])\%',string)
    return text

In [128]:
sentence="COVID recovery rate has been increased to 76%.And death rate drops to 2% from 3%"
find_percent(sentence)

['76', '2', '3']

<a id="4.45"></a>
<font size="+2" color="indigo"><b>4.45 File Format</b></font><br><br>

In [129]:
def find_files(string): 
    text=re.findall(r'([a-zA-Z0-9_]+)\.(jpg|png|gif|jpeg|pdf|ipynb|py)',string) # add any required file extensions
    all_files=[]
    for i in range(len(text)):
        all_files.append('.'.join(text[i]))
    return all_files

In [130]:
sentence="This notebook file name is cheatsheet_text_helper.ipynb . Titanic.py file is most common among kaggle."
find_files(sentence)

['cheatsheet_text_helper.ipynb', 'Titanic.py']

### *Data with new Features*

In [131]:
df.sample(5)
# We will see empty values too as most of text may not have related feature.You can filter and check.

,textID,text,selected_text,sentiment,url,emoji,email,hash,at_mention,number,...,only_words,only_num,bound,search_day,pick_senence,pick_unique,caps_word,text_length,char_length,get_id
22116,e21e4b55e8,Dave i ask you for 'The Fix' by JK!!! and sen...,Dave i ask you for 'The Fix' by JK!!! and send...,neutral,,[],,,,,...,Dave i ask you for The Fix by JK and send HI t...,,,False,[],[ Dave i ask you for 'The Fix' by JK!!! and se...,"[Dave, The, Fix, JK, HI, Lisette, Alejandra, M...",23,109,[]
517,fa1385e537,He says he feels mama tucking him in at night...,. Tomorrow will be tough!,negative,,[],,,,,...,He says he feels mama tucking him in at night ...,,,False,[],[ He says he feels mama tucking him in at nigh...,"[He, He, Tomorrow]",19,99,[]
1635,3f81782f0b,going to EK nao... will meet bloggers there in...,going to EK nao... will meet bloggers there in...,neutral,http://plurk.com/p/stnt0,[],,,,0,...,going to EK nao will meet bloggers there inste...,,,False,[],[going to EK nao... will meet bloggers there i...,"[EK, Makati]",12,87,[]
27317,45c36b5e05,_Aston Still looking I filled out quite a few...,_Aston Still looking I filled out quite a few...,neutral,,[],,,,,...,_Aston Still looking I filled out quite a few ...,,,False,[],[_Aston Still looking I filled out quite a fe...,[Still],19,104,[]
9417,c0bf50f198,". Tickets, i need my tickets, where are my tic...",". Tickets, i need my tickets, where are my tic...",neutral,,[],,,,,...,Tickets i need my tickets where are my tickets...,,,False,[],"[. Tickets, i need my tickets, where are my ti...",[Tickets],14,74,[]

<font size="+3" color="blue"><b>5. End Notes</b></font><br> <a id="5"></a>

No worries.This is not the end of kernel.**I have updated this kernel with few more functions (Now version 27 is live)**.Going forward i will add more helper functions in upcoming versions.I would like to get appreciation from you with an 👍 .Please <font size="+1" color="red"><b>Upvote</b></font> and keep it in your favourite list.

Thanks for your patience.


*Happy Kaggling!!!*.

<font size="+2" color="chocolate"><b>My Other Kernels</b></font><br>

Click on the button to view kernels...

<a href="https://www.kaggle.com/raenish/healthcare-eda-altair-interactive-plots" class="btn btn-primary" style="color:white;">Healthcare - Altair Plots</a>

<a href="https://www.kaggle.com/raenish/covid19-tweets-interactive-eda" class="btn btn-primary" style="color:white;">COVID19 Tweets EDA</a>

<a href="https://www.kaggle.com/raenish/kaggle-notebooks-eda" class="btn btn-primary" style="color:white;">Kaggle Notebooks EDA</a>

<a href="https://www.kaggle.com/raenish/kaggle-users-competitions-stats-eda/" class="btn btn-primary" style="color:white;">Kaggle Users & Competition EDA</a>

<a href="https://www.kaggle.com/raenish/covid19-tweets-interactive-eda" class="btn btn-primary" style="color:white;">#COVID Tweets</a>

<a href="https://www.kaggle.com/raenish/self-evaluation-kaggle-profiler" class="btn btn-primary" style="color:white;">Kaggle Profiler</a>

<a href="https://www.kaggle.com/raenish/cheatsheet-100-plotly-part-1-basic" class="btn btn-primary" style="color:white;">100+ Plotly Basic</a>

<a href="https://www.kaggle.com/raenish/cheatsheet-100-plotly-part-2-advanced" class="btn btn-primary" style="color:white;">100+ Plotly Advanced</a>

<a href="https://www.kaggle.com/raenish/don-t-shoot/" class="btn btn-primary" style="color:white;">Don't Shoot</a>

<a href="https://www.kaggle.com/raenish/become-grandmaster/" class="btn btn-primary" style="color:white;">Become GrandMaster</a>

<a href="https://www.kaggle.com/raenish/cheatsheet-date-helpers/" class="btn btn-primary" style="color:white;">Cheatsheet Date Helpers</a>

<a href="https://www.kaggle.com/raenish/tweet-sentiment-insight-eda/" class="btn btn-primary" style="color:white;">Tweet Sentiment Extraction</a>
<br>
<br>
### If these kernels impress you,give them an <font size="+2" color="red"><b>Upvote</b></font>.<br>

<font size="+2" color="chocolate"><b>Reference</b></font><br>
* https://www.guru99.com/python-regular-expressions-complete-tutorial.html
* https://docs.python.org/3.4/library/re.html
* https://www3.ntu.edu.sg/home/ehchua/programming/howto/Regexe.html#zz-1.9
* https://www.debuggex.com/cheatsheet/regex/python
* https://blog.finxter.com/python-regex-and-operator-tutorial-video/
* https://www.oreilly.com/library/view/regular-expressions-cookbook/9781449327453/ch04s04.html
* https://www.webfx.com/tools/emoji-cheat-sheet/
* https://github.com/nikhilkumarsingh/RegEx-In-Python/blob/master/17.%20Look%20behind.ipynb
* https://github.com/nikhilkumarsingh/RegEx-In-Python/blob/master/16.%20Look%20ahead.ipynb

**Version 28** : <font size="+3" color="red"><b><i>Loading...</i></b></font><br><br>
<a href="#top" class="btn btn-success btn-lg active" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Colors">Go to TOP</a>